.App {
  display: flex;
  justify-content: center;
}

.Player {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;

  margin-top: 20px;
  margin-bottom: 20px;

  border: 5px solid rgba(177, 156, 156, 0.822);
  border-radius: 999px;
}
